name: Build EXE

on:
  push:
    tags:
      - 'v*'     # builds on a version tag like v1.0
  workflow_dispatch:  # allows manual trigger

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt

      - name: Build EXE
        run: |
          pyinstaller --onefile ^
          --add-data "WordleHelper\valid-wordle-words.txt;." ^
          -- WordleHelper.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: exe-build
          path: dist/WordleHelper.exe
